---
layout: archive
title: "Project Portfolio"
permalink: /portfolio/
author_profile: true
---

Introduction
======
Hi there - Below is a running list of the projects I've done so far. You can skim this page for a high level insight, but you also have the option to go into each of the projects to get detailed insights into how they were built, the data used, the results seen, and conclusions made.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

